@charset "UTF-8";
@import "variable";
@import "mixins";
@import "reset";
@import "common";
@import "button";
@import "form";
.container{
	padding-bottom:1.0rem;
}
.tips{
	padding:0.20rem 0.30rem;
	color:#d00000;
}
.zui-form{
	margin-top:0;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;
}

.footer {
    @include flexbox;
    .footer-tab {
        display: block;
        @include flex(1);
        height: 1.0rem;
        line-height: 1.0rem;
        color: #fff;
        font-size: 0.32rem;
        background: #999999;
        text-align: center;
        &.active{
        	background:$main-color;
        }
    }
}