@charset "UTF-8";
@import "reset";
@import "mixins";
@import "variable";
@import "common";
@import "button";
@import "form";
.container{
	padding-bottom: 1.0rem;
}
.form{
	@include border-1px;
	border-top-width: 1px;
	margin-top:0.30rem;
}
.coupon-money{
	padding:0.20rem 0.30rem;
}
.tips{
	padding:0 0.30rem;
	margin-top:0.50rem;
	text-align: justify;
	.tips-title{
		color:$main-color;
	}
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;
}

.footer {
    @include flexbox;
    .footer-tab {
        display: block;
        @include flex(1);
        height: 1.0rem;
        line-height: 1.0rem;
        color: #fff;
        font-size: 0.32rem;
        background: $main-color;
        text-align: center;
    }
}