@charset "UTF-8";
@import "variable";
@import "mixins";
@import "reset";
@import "common";
@import "button";
html,body{
	background:#fff;
}
.red-banner{
	height: 2.50rem;
	img{
		display:block;
		width: 100%;
		height: 100%;
	}
}
.zui-tab-list{
	@include flexbox;
	padding: 0.30rem 0;
	.zui-tab{
		display:block;
		@include flex(1);
		width: 0;
		text-align: center;
		font-size: 0.32rem;
		&:first-child{
			@include border-1px;
			border-right-width: 1px;
		}
		&.active{
			color:$main-color;
			span{
				border-bottom: 2px solid $main-color;
				height: 0.50rem;
				line-height:0.50rem;
				display:inline-block;
			}
		}
	}
}

.packet{
	display:block;
	@include flexbox;
	@include vertical-layout(stretch);
	overflow: hidden;
	font-size:0.28rem;
	margin:0.30rem;
	color:#fff;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 20px rgba(200,0,27,.6);
            box-shadow: 0 0 20px rgba(200,0,27,.6);
	background:#c8001b url(/static/images/bg/car.png) no-repeat right bottom;
	background-size:4.41rem 1.42rem;
	line-height:1.8;
	.packet-btn{
		@include flexbox;
		@include vertical;
		background:rgba(179,0,25,.4);
		font-size:0.46rem;
		padding: 0 0.15rem;
		p{
			@include flex(1);
			@include flexbox;
			@include vertical-layout(center);
		}
	}
	.packet-bd{
		@include flex(1);
		padding:0.45rem 0;
	}
	.packet-left{
		padding:0.45rem 0.20rem;
		line-height:1.1;
		width: 2.4rem;
		.packet-money{
			font-size:0.60rem;
			margin-bottom:0.1rem;
		}
	}
	&.over{
		-webkit-box-shadow: 0 0 20px rgba(181,181,181,.6);
            box-shadow: 0 0 20px rgba(181,181,181,.6);
		background:#b5b5b5 url(/static/images/bg/car.png) no-repeat right bottom;
		background-size:4.41rem 1.42rem;
		.packet-btn{
			background:rgba(143,143,143,.6);
		}
	}
}