@charset "UTF-8";
@import "variable";
@import "mixins";
@import "reset";
@import "common";
@import "button";
@import "swipeSlide";
#slide1 {
    height: 2.50rem;
}
.store-title{
	@include border-1px;
	border-bottom-width: 1px;
	background:#fff;
	padding: 0.20rem 0.35rem;
	.store-name{
		font-size:0.32rem;
		font-weight: normal;
		margin-bottom:0.10rem;
	}
}
.product-text-star {
    margin: 0.05rem 0;
    font-size: 0;
    @include flex(1);
    @include flexbox;
    @include vertical-layout(start);
    .star {
        display: inline-block;
        width: 0.32rem;
        height: 0.32rem;
        background: url(/static/images/icon/star.png) no-repeat center center;
        background-size: 0.30rem;
        margin-right: 0.10rem;
    }
    .star-b {
        display: inline-block;
        width: 0.32rem;
        height: 0.32rem;
        background: url(/static/images/icon/star-b.png) no-repeat center center;
        //什么鬼图片大小不一
        background-size: 0.30rem;
        margin-right: 0.10rem;
    }
}
.store-intro{
	@include border-1px;
	border-top-width:1px;
	border-bottom-width:1px;
	margin-top:0.30rem;
	height: 1.0rem;
	line-height:1.05rem;
	padding:0 0.35rem;
	background:#fff;
	font-size:0.32rem;
}